# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/

# Environment / Secrets
.env
.env.*

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Logs / Temporary Files
# ==========================================================

*.log
*.tmp

# ==========================================================
# PostgreSQL / Database Local Files
# ==========================================================

*.db
*.sqlite
*.sqlite3

# ==========================================================
# Temporary / Export Files
# ==========================================================

~$*